@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background: #F8CDDA;
  background: -webkit-linear-gradient(to bottom right, #1D2B64, #F8CDDA);
  background: linear-gradient(to bottom right, #1D2B64, #F8CDDA);
}

ul {
  list-style-type: none;
}

button {
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

